* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    display: flex;
    width: 100%;
    height: 6.875rem;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

header img {
    width: 8rem;
    height: 3rem;
}

.nav-bar ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.nav-bar a.activehome {
color: #6fc4bd;
}
.nav-bar a.activeabout {
    color: #6fc4bd;
    }
.nav-bar a.activeservice {
color: #6fc4bd;
}
.nav-bar a.activeteam {
    color: #6fc4bd;
    }
.nav-bar a.activecontact {
color: #6fc4bd;
}
main {
    flex: 1; 
    background-color: #000;
}

main img {
    width: 100%;
    height: 20.8125rem;
    object-fit: cover;
}

.home-container {
    position: relative;
}

.text-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white;
}

.text-container h1 {
    font-size: 3rem;
}

.text-container h3 {
    font-size: 1.5rem;
    margin-top: 1rem; 
}

footer {
    width: 100%; 
    background-color: #000; 
}

.footer-container img[alt="fondo-footer"]{
    height: 10.3125rem;
    width: 100%;
    object-fit: cover;
}

.footer-container img[alt="logo-footer"]{
    width: 8rem;
    height: 3rem;
}

.footer-container {
    position: relative;
}

.logo-footer {
    position: absolute;
    top: 50%; 
    left: 20%; 
    transform: translate(-50%, -50%);
    text-align: center;
}

.redes-footer {
    display: flex;
    position: absolute;
    top: 50%; 
    left: 78%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    gap: 1.5rem;
}

.redes-footer i{
    font-size: 1.875rem;
}

.redes-footer a{
    text-decoration-line: none;
    color: #6fc4bd;
}


.section1 img, .section2 img {
    margin: 30px 30px 0px 10px;
    object-fit: cover;
    width: 34.375rem;
    height: 20.0625rem;
}

.section2{
margin-bottom: 30px;
}


.section1, .section2 {
display: flex;
align-items: center;
justify-content: center;
}

.col2 p, .col3 p{
    color: #fff;
    max-width: 250px;
    margin-bottom: 20px;
}

.col2, .col3{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-try{
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 100px;
    padding: 3px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: #000;
}

.col2 h2, .col2 h3{
    color: #fff;
    max-width: 250px;
    margin-bottom: 15px;
}

.section2-about{
display: flex;
margin: 100px 0px 100px 0px;
gap: 40px;
justify-content: center;

}

.col01, .col02, .col03{
    display: flex;
    width: 289px;
    height: 151px;
background-color: #6fc4bd;
border-radius: 41px;
align-items: center;

}

.col01 img, .col02 img, .col03 img{
    width: 73px;
    height: 67px;
background-color: #6fc4bd;
border-radius: 41px;

}

.col-content{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}