* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    display: flex;
    width: 100%;
    height: 6.875rem;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

header img {
    width: 8rem;
    height: 3rem;
}

.nav-bar ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.nav-bar a.activehome {
color: #6fc4bd;
}
.nav-bar a.activeabout {
    color: #6fc4bd;
    }
.nav-bar a.activeservice {
color: #6fc4bd;
}
.nav-bar a.activeteam {
    color: #6fc4bd;
    }
.nav-bar a.activecontact {
color: #6fc4bd;
}
main {
    flex: 1; 
    background-color: #000;
}

main img {
    width: 100%;
    height: 20.8125rem;
    object-fit: cover;
}

.home-container {
    position: relative;
}

.text-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white;
}

.text-container h1 {
    font-size: 3rem;
}

.text-container h3 {
    font-size: 1.5rem;
    margin-top: 1rem; 
}

footer {
    width: 100%; 
    background-color: #000; 
}

.footer-container img[alt="fondo-footer"]{
    height: 10.3125rem;
    width: 100%;
    object-fit: cover;
}

.footer-container img[alt="logo-footer"]{
    width: 8rem;
    height: 3rem;
}

.footer-container {
    position: relative;
}

.logo-footer {
    position: absolute;
    top: 50%; 
    left: 20%; 
    transform: translate(-50%, -50%);
    text-align: center;
}

.redes-footer {
    display: flex;
    position: absolute;
    top: 50%; 
    left: 78%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    gap: 1.5rem;
}

.redes-footer i{
    font-size: 1.875rem;
}

.redes-footer a{
    text-decoration-line: none;
    color: #6fc4bd;
}


.section1 img, .section2 img {
    margin: 30px 30px 0px 10px;
    object-fit: cover;
    width: 34.375rem;
    height: 20.0625rem;
}

.section2{
margin-bottom: 30px;
}


.section1, .section2 {
display: flex;
align-items: center;
justify-content: center;
}

.col2 p, .col3 p{
    color: #fff;
    max-width: 250px;
    margin-bottom: 20px;
}

.col2, .col3{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-try{
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 100px;
    padding: 3px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: #000;
}

.col2 h2, .col2 h3{
    color: #fff;
    max-width: 250px;
    margin-bottom: 15px;
}

.section2-about{
display: flex;
margin: 100px 0px 100px 0px;
gap: 40px;
justify-content: center;

}

.col01, .col02, .col03{
    display: flex;
    width: 289px;
    height: 151px;
background-color: #6fc4bd;
border-radius: 41px;
align-items: center;

}

.col01 img, .col02 img, .col03 img{
    width: 73px;
    height: 67px;
background-color: #6fc4bd;
border-radius: 41px;

}

.col-content{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "basic-wash interior-detailing express-car-wash"
    "complete-wash paint-treatment exterior-detailing"
    "tire-chassis-decontamination premium-detailing premium-detailing";
    gap: 20px;
    padding: 20px;
}

.service-item {
    background-color: #2e2d2d; 
    color: #fff; 
    padding: 20px; 
    border-radius: 8px;

}

.service-item h3 {
    margin-bottom: 10px; 
}


.service-item ul li {
    margin-bottom: 5px; 
}

.detailing-options {
    display: flex; 
    justify-content: center; 
}

.detailing-option {
    flex: 1; 
}

.basic-wash {
     grid-area: basic-wash; 
}
.interior-detailing { 
    grid-area: interior-detailing;
 }
.express-car-wash {
     grid-area: express-car-wash; 
    }
.complete-wash { 
    grid-area: complete-wash; 
}
.paint-treatment {
     grid-area: paint-treatment;
     }
.exterior-detailing {
     grid-area: exterior-detailing; 
    }
.tire-chassis-decontamination { 
    grid-area: tire-chassis-decontamination;
 }
.premium-detailing {
     grid-area: premium-detailing; 
    }
.premium-detailing { 
    grid-area: premium-detailing; 
}

.container-row-img-services{
    margin: 30px 0 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.service-img-grid{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 50px;

}

.container-row-img-services img{
    border-radius: 45px;
}

.service-img-grid img{
    width: 198px;
    height: 108px;
}

.img-1{
    width: 507px;
    height: 236px;
}

.team-img-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 10px;
    padding: 20px;

}

.team-img-grid img{
    width: 73px;
    height: 67px;
    border-radius: 41px;
    border: none;
}

.row-section1{
    display: flex;
    color: #fff;
}


