* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    display: flex;
    width: 100%;
    height: 6.875rem;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

header img {
    width: 8rem;
    height: 3rem;
}

.nav-bar ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.nav-bar a.activehome {
color: #6fc4bd;
}
.nav-bar a.activeabout {
    color: #6fc4bd;
    }
.nav-bar a.activeservice {
color: #6fc4bd;
}
.nav-bar a.activeteam {
    color: #6fc4bd;
    }
.nav-bar a.activecontact {
color: #6fc4bd;
}
main {
    flex: 1; 
    background-color: #000;
}

main img {
    width: 100%;
    height: 20.8125rem;
    object-fit: cover;
}

.home-container {
    position: relative;
}

.text-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white;
}

.text-container h1 {
    font-size: 3rem;
}

.text-container h3 {
    font-size: 1.5rem;
    margin-top: 1rem; 
}

footer {
    width: 100%; 
    background-color: #000; 
}

.footer-container img[alt="fondo-footer"]{
    height: 10.3125rem;
    width: 100%;
    object-fit: cover;
}

.footer-container img[alt="logo-footer"]{
    width: 8rem;
    height: 3rem;
}

.footer-container {
    position: relative;
}

.logo-footer {
    position: absolute;
    top: 50%; 
    left: 20%; 
    transform: translate(-50%, -50%);
    text-align: center;
}

.redes-footer {
    display: flex;
    position: absolute;
    top: 50%; 
    left: 78%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    gap: 1.5rem;
}

.redes-footer i{
    font-size: 1.875rem;
}

.redes-footer a{
    text-decoration-line: none;
    color: #6fc4bd;
}


.section1 img, .section2 img {
    margin: 30px 30px 10px;
    object-fit: cover;
    width: 34.375rem;
    height: 20.0625rem;
}           

.section2{
margin-bottom: 30px;
}


.section1, .section2 {   
display: flex;
align-items: center;
justify-content: center;
}

.col2 p, .col3 p{
    color: #fff;
    max-width: 290px;
    margin-bottom: 20px;
}

.col2, .col3{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-try{
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 100px;
    padding: 3px;
    border-radius: .35rem;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: #000;
}

.col2 h2, .col2 h3{
    color: #fff;
    max-width: 250px;
    margin-bottom: 15px;
}

.section2-about{
    display: flex;
    margin: 100px auto;
    gap: 40px;
    justify-content: space-around;
    max-width: 68%;
}

.cols h4 {
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
}
.cols p {
    color: #ffffff;
}
.cols {
  display: flex;
  width: auto;
  max-width: 500px;
  padding: 25px 20px;
  height: auto;
  background-color: #6fc4bdc6;
  border-radius: .35rem;
  gap: 10px;
  align-items: center;
}

.cols img {
  width: 73px;
  height: 67px;
  background-color: #6fc4bd;
  border-radius: .35rem;
}

.col-content {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    min-height: 96px;
    justify-content: start;
    gap: 6.5px;
  }

/* .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "basic-wash interior-detailing express-car-wash"
    "complete-wash paint-treatment exterior-detailing"
    "tire-chassis-decontamination premium-detailing premium-detailing";
    gap: 20px;
    padding: 20px;
} */

.services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "basic-wash interior-detailing express-car-wash"
        "complete-wash paint-treatment exterior-detailing"
        "tire-chassis-decontamination premium-detailing premium-detailing";
    gap: 20px;
    padding: 20px;
    max-width: 68%;
    margin: 0 auto;
}

.service-item {
    max-width: 80%;
    /* background-color: #2e2d2d;  */
    border-top: 2px solid #fff;
    color: #fff; 
}

.service-item h3 {
    margin-bottom: 10px; 
}


.service-item ul li {
    margin-bottom: 5px; 
}

.detailing-options {
    display: flex; 
    justify-content: center; 
}

.detailing-option {
    flex: 1; 
}

.basic-wash {
     grid-area: basic-wash; 
}
.interior-detailing { 
    grid-area: interior-detailing;
 }
.express-car-wash {
     grid-area: express-car-wash; 
    }
.complete-wash { 
    grid-area: complete-wash; 
}
.paint-treatment {
     grid-area: paint-treatment;
     }
.exterior-detailing {
     grid-area: exterior-detailing; 
    }
.tire-chassis-decontamination { 
    grid-area: tire-chassis-decontamination;
 }
.premium-detailing {
     grid-area: premium-detailing; 
    }
.premium-detailing { 
    grid-area: premium-detailing; 
}

.container-row-img-services{
    margin: 40px auto;
    max-width: 68%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.service-img-grid{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px;

}

.container-row-img-services img{
    border-radius: .35rem;
}

.service-img-grid img{
    width: 198px;
    height: 108px;
}

.img-1{
    width: 507px;
    height: 236px;
}

.team-img-grid{
    max-width: 68%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    place-items: center;
    margin: 20px auto;
}

.team-img-grid img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
}

.row-section1{
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: start;
    margin: 40px auto;
    max-width: 68%;
}

.person p{
    display: flex;
    color: #fff;
    justify-content: center;
    margin-top: 10px;

}


.col-izq{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.col-izq-wpp{
    display: flex;
    gap: 8px;
    align-items: center;
}

.col-izq-wpp i{
    color: #6fc4bd;
    font-size: 40px;
}

.col-izq-mail{
    display: flex;
    gap: 8px;
    align-items: center;
}

.col-izq-mail i{
    color: #6fc4bd;
    font-size: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #6fc4bd;
    padding: 25px 10px 25px 10px;
    border-radius: .35rem;
    align-items: center;
}

.card input[type="text"]{
    border: none;
    background: none;
    border-bottom: solid 0.5px #000;
}

.cont-date input[type="date"]{
    width: 167px;
    border: none;
    border-bottom: solid 0.5px #000;
    background: none;
}

.book-row4 textarea{
    min-width: 363px;
    max-width: 363px;
    min-height: 20px;
    max-height: 100px;
    border: none;
    background: none;
    border-bottom: solid 1px #000;

}

.book-row1{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.book-row2{
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.book-row3{
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.book-row4{
    display: flex;
    flex-direction: column;
    max-width: 363px;
}

.cont-date{
    width: 100%;
}


.book-row4 button{
    margin-top: 10px;
    padding: 8px;
    width: 200px;
    border: #000 solid 1px;
    border-radius: .35rem;
}
.row4-button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.video{
    max-width: 68%;
    margin: 40px auto;
}

.video img{
    border-radius: .35rem;
}